.categories{
    color:white;
    width: 100%;

    &__title{
        margin-left: 2rem;
    }
}

.h1-categories {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 700px){
    .categories__title{
        font-size: 20px;
    }
    .h1-categories {
        font-size: 28px;
    }
}