.booksmarks{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__img{
        width: 100%;
        position: relative;
    }
    &__title{
        color:white;
        font-size: 15px;
        font-weight: 400;
    }
    &__button{
        background-color: black;
        border:0;
        padding: 8px 10px;
        color:white;
        margin-bottom:1rem;
    }
    &__button:hover{
        cursor: pointer;
    }
    &__grid{
        display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;

    }
    &__container{
        // width: 30;
        // background-color: azure;
    
    }
    &__text-container{
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        color: #1f72d0;
    
    }
    &__icon:hover{
        color:white;
        cursor: pointer;
    }
  
}

