.movie-card {
  width: 175px;
  height: 330px;
  background-color: hsl(222, 25%, 10%);
  border-radius: 6px 6px;
  transition: transform 0.2s, box-shadow 0.2s;
  margin-right: 6px;
  color: white;
  
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  &__image-container{
    position: relative;
  }
  &__image {
    background-color: beige;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0 0;
  }
  &__info {
    display: flex;
    padding: 1rem .5rem;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 14px;
    font-weight: 300;
  }
  &__bookmark-icon{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__bookmark-icon:hover{
    color: #1f72d0;
    cursor: pointer;
  }
  &__bookmark-icon--active {
    color: #1f72d0;
  }
}

@media (max-width: 768px) {

  .movie-card {
    width: 150px;
    height: 300px; 
    &__title {
      font-size: 12px;
      font-weight: 300;
    }
    &__container{
      height: 400px;
    }
  }

}


.placeholder {
  width: 175px;
  height: 259px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(222, 25%, 14%);
  border-radius: 6px 6px 0 0;

  &__image {
    height: 30px;
    width: 30px;
  }
}




