
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    width: 100%;

   
    
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-right: 3rem;
        color: white;
    }
    
    &__logo{
        margin-left: 5rem;
        color: #1f72d0;
    }

    &:hover {
        cursor: pointer;

    }

}

li{
    list-style: none;
}

li:hover {
    color: #cbcbcb;
}