
.navbar{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(222, 25%, 10%);
    width: 100%;

   
    
    &__list{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-right: 3rem;
        margin-left: 3rem;
        color: white;
    }
    
    &__logo{
        margin-top: 1rem;
        margin-left: 5rem;
        color: #1f72d0;
    }

    &:hover {
        cursor: pointer;

    }

}

li{
    list-style: none;
    font-size: small;
}

li:hover {
    color: #1f72d0;
}

span {
    color: white;
}