.footer{
    background-color: hsl(222, 25%, 14%);
    height: 200px;
    margin-top: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    &__li{
        margin-top: 1rem;
        margin-left: 4rem;
        color:white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: small;
        
    }
    &__li:hover{
        cursor: pointer;
    }
}
.links-footer{
    margin-top: 1rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
    color: white; 
}
.footer-copywrite {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgb(123, 123, 123);
    margin-bottom: 1rem;
}
.footer-mewsletter {
    margin-top: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 23px;
}
@media (max-width: 768px) {
   .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   b.footer__subscribe-text{
    width: 100%;
    text-align: center;
    font-size: 15px;

   }
   .footer-copywrite{
    display: none;
   }
   .footer__container{
    display: flex;
   }
   .links-footer{
    display: none;
   }
   .footer-mewsletter{
    width: 100%;
    display: none;
   }
   .footer__li{
    margin: 0;
    padding:0;
    display: flex;
    margin-right: 3rem;
    font-size: 18px;

   }
}
@media (max-width: 480px) {
    .footer__li{
        font-size: 14px;
       }
}