.footer{
    background-color: hsl(222, 25%, 14%);
    height: 200px;
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__li{
        margin-left: 2rem;
        color:white;
    }
    &__li:hover{
        cursor: pointer;
    }
}
