* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.filmview {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  justify-content: center;
  padding-bottom: 2rem;

  &__image {
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__big-container{
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    height: 580px;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
    align-items: center;
    flex-direction: column;
  }
  &__title{
    color:rgb(255, 255, 255);
    font-size: 27px;
    margin-left:0;
    margin-right: 1rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
    position: relative;
  }

  &__right {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    justify-content: center;
  }
&__icon{
  position: absolute;
  right: -20px;
  top:8px;
  font-size: 1.3rem;
  color:white;
}
  &__icon.active {
    color: #1f72d0;
  }
  
  &__icon:hover{
    color: #1f72d0;
    cursor: pointer;
  }

 }
 @media (max-width: 1000px) {
  .filmview{
    &__container{
      height: 100%;
    }
    &__big-container{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__title{
      font-size:16px;
    }
    &__left{
      font-size: 12px;
    }
    &__right{
      font-size: 12px;
    }
    &__icon{
      font-size: 1rem;
      top:3px;
    }
  }
}
@media (max-width: 480px) {
  .filmview{
    display: block;

    &__image{
      width: 80%;
      margin:auto;
    }
    &__icon{
      font-size: 1rem;
      right: -10px;
      top:3px;
    }
  }
}
