.landing{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h3 {
    color: white;
    margin-left: 2rem;
}

.header-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.poster-img {
    height: 35rem;
    width: 80vw;
    border-radius: 15px;
}
@media (max-width: 1000px) {
    .poster-img{
        max-width: 100%;
        height: auto;
        border-radius: 15px;
    }
}

@media (max-width: 400px) {
    .poster-img{
        display: none;
    }
}
