.display-carousel{
    display: flex;
    position: relative;
    width: 100%;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 1;
  }

.arrow:hover{
    cursor: pointer;
}
.arrow-right{
 right: 20px;
}

.arrow-left{
 left: 20px;
}
.grid{
    display: flex;
    overflow-x: hidden;
    padding: 2rem;
    scroll-behavior: smooth;
    justify-content: center;
    margin: 0rem auto;
    width: 100%;

    
    &__item{
        border: 1px solid black;
        flex: 0 0 auto;
        width: 300px;
        height: 200px;
        margin-right: 10px;
        
    }
}
@media (max-width: 768px) {
    .display-carousel {
        width: 100%;
        padding: 1rem;
        height: 300px;
    }
    .grid{
        width: 100%;
        justify-content: center;
    }
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        z-index: 1;
      }
    
  }
  
  @media (max-width: 480px) {
    .grid {
      &__item {
        width: 150px;
        height: 100px;
      }
    }
  }